<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>child</key>
			<array>
				<string>头像</string>
				<string>个性签名</string>
				<string>姓名</string>
				<string>性别/职业</string>
				<string>毕业院校</string>
				<string>添加照片</string>
				<string>特长</string>
				<string>联系方式</string>
				<string>地区</string>
				<string>个人简介及作品</string>
			</array>
			<key>icon</key>
			<string>IMG_0723.JPG</string>
			<key>name</key>
			<string>xhuangguanz</string>
			<key>position</key>
			<string>演员</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>star</string>
			<key>name</key>
			<string>开通会员服务</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>star</string>
			<key>name</key>
			<string>影视专业研修基地</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>star</string>
			<key>name</key>
			<string>明星祝福</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>star</string>
			<key>name</key>
			<string>个人相册</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>star</string>
			<key>name</key>
			<string>推荐给朋友</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>star</string>
			<key>name</key>
			<string>设置</string>
		</dict>
	</array>
</array>
</plist>
