<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>陈池红</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>885</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张歆艺</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>423</string>
	</dict>
	<dict>
		<key>name</key>
		<string>方安娜</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>706</string>
	</dict>
	<dict>
		<key>name</key>
		<string>傅晶</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>835</string>
	</dict>
	<dict>
		<key>name</key>
		<string>康璐</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>779</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李小冉</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>656</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘雨欣</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>715</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吕平</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>734</string>
	</dict>
	<dict>
		<key>name</key>
		<string>马秋子</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>484</string>
	</dict>
	<dict>
		<key>name</key>
		<string>戚薇</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>403</string>
	</dict>
	<dict>
		<key>name</key>
		<string>隋俊波</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>706</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陶昕然</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>743</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天仙妹妹</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>778</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王岩</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>559</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨恭如</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>731</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨渝渝</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>839</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赵丽颖</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>594</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赵仕瑾</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>877</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赵子琪</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>880</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周牧茵</string>
		<key>width</key>
		<string>591</string>
		<key>height</key>
		<string>845</string>
	</dict>
	<dict>
		<key>name</key>
		<string>端木崇慧</string>
		<key>width</key>
		<string>602</string>
		<key>height</key>
		<string>919</string>
	</dict>
	<dict>
		<key>name</key>
		<string>樊昱君</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>609</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冯虔</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>626</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海清</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>626</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阚清子</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>739</string>
	</dict>
	<dict>
		<key>name</key>
		<string>康馥麟</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>471</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李健</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>605</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李骄阳</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>731</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李涛</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>886</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李艳</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>935</string>
	</dict>
	<dict>
		<key>name</key>
		<string>湄媚</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>895</string>
	</dict>
	<dict>
		<key>name</key>
		<string>孙琳</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>759</string>
	</dict>
	<dict>
		<key>name</key>
		<string>唐一菲</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>779</string>
	</dict>
	<dict>
		<key>name</key>
		<string>万美汐</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>818</string>
	</dict>
	<dict>
		<key>name</key>
		<string>徐熙颜</string>
		<key>width</key>
		<string>602</string>
		<key>height</key>
		<string>919</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨淼</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>865</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游琳书</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>396</string>
	</dict>
	<dict>
		<key>name</key>
		<string>湛雅书</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>725</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赵雪莲</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>518</string>
	</dict>
	<dict>
		<key>name</key>
		<string>朱子岩</string>
		<key>width</key>
		<string>592</string>
		<key>height</key>
		<string>736</string>
	</dict>
</array>
</plist>
