<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>白一光</string>
	<string>陈小艺</string>
	<string>陈彦妃</string>
	<string>陈益</string>
	<string>程皓枫</string>
	<string>程一桥</string>
	<string>崔林</string>
	<string>邓家佳</string>
	<string>杜俊泽</string>
	<string>范琳琳</string>
	<string>方安娜</string>
	<string>傅晶</string>
	<string>高仁</string>
	<string>高尚</string>
	<string>高洋</string>
	<string>宫筱轩</string>
	<string>龚帆</string>
	<string>龚洁</string>
	<string>郭家铭</string>
	<string>韩雯雯</string>
	<string>阚清子</string>
	<string>何明翰</string>
	<string>赫子铭</string>
	<string>黄海冰</string>
	<string>黄明</string>
	<string>黄奕</string>
	<string>纪宁</string>
	<string>季晨</string>
	<string>金晨</string>
	<string>康馥麟</string>
	<string>康亢</string>
	<string>李宁宁</string>
	<string>李小冉</string>
	<string>李欣聪</string>
	<string>李艳</string>
	<string>廖晓琴</string>
	<string>林妙可</string>
	<string>林园</string>
	<string>刘牧</string>
	<string>吕平莹</string>
	<string>吕平滢</string>
	<string>罗晋</string>
	<string>毛晓彤</string>
	<string>纳伊莎</string>
	<string>戚薇</string>
	<string>任重</string>
	<string>邵兵</string>
	<string>宋丹丹</string>
	<string>宋卉如</string>
	<string>隋俊波</string>
	<string>孙红雷</string>
	<string>孙晶晶</string>
	<string>孙琳</string>
	<string>谭凯</string>
	<string>唐治平</string>
	<string>童瑶</string>
	<string>万弘杰</string>
	<string>万妮恩</string>
	<string>王阳</string>
	<string>王奕茗</string>
	<string>吴谨言</string>
	<string>谢紫彬</string>
	<string>徐洁儿</string>
	<string>徐垚</string>
	<string>许凝</string>
	<string>杨雅絮</string>
	<string>杨阳</string>
	<string>姚笛</string>
	<string>袁泉</string>
	<string>袁新</string>
	<string>袁钰涵</string>
	<string>张铎</string>
	<string>张继</string>
	<string>张晋</string>
	<string>张歆艺</string>
	<string>张璇</string>
	<string>朱锐</string>
</array>
</plist>
